{% if Model.Title %} 
	{% PageTitle Model.Title %} 
{% endif %}
	
<article id="{{ Model.ContentItem.TitlePart.Title | lstrip }}" class="{{ Model.ContentItem.ContentType  }} content-item">
    <header>
        {{ Model.Header | Display }}
		{% if Model.Meta %}
            <div class="metadata">
                {{ Model.Meta | Display }}
            </div>
        {% endif %}
    </header>
    {{ Model.Content | Display }}
    {% if Model.Footer %}
        <footer>
            {{ Model.Footer | Display }}
        </footer>
    {% endif %}
</article>