
	
    
	<div id="wrap">
		<!-- THE LINE AT THE VERY TOP OF THE PAGE -->
		<div class="top_line"></div>
		<!-- HEADER AREA -->
		<header>
			<div class="container">
				<div class="row">
					<!-- HEADER: LOGO AREA -->
					<div class="span3 logo">
						<!-- header -->
						{% if Model.Header %}
							{{ Model.Header | Display }}
						{% endif %}
						{% assign logoSrc = "~/themes/Dotnest-BizStrap.1.3/content/img/vassall-logo.png" %}
						<a class="logo-link" href="{% Href "~/" %}">
							<img alt="logo" title="bizstrap" src="{% Href logoSrc %}">
						</a>
					</div>
					<div class="span9">
						<div class="row-fluid">
							<div class="span8 site-title">
								<h1>
									The Vassall Centre
								</h1>
								<p>
									Bristol's premier barrier-free workspace and conference centre
								</p>
							</div>
							<div class="span4">
								<!-- HEADER: PHONE NUMBER -->
								<p class="head_phone">
									<a href="tel:0117-965-9630">0117 965 9630</a>
								</p>
								<p class="head_email">
									<a href="mailto:vassall@vcconferences.co.uk">vassall@vcconferences.co.uk</a>
								</p>
							</div>
							<!-- HEADER: SOCIAL ICONS -->
							
						</div>
						<div class="row-fluid">
							<div class="access span12">
								<div class="row-fluid">
									<div class="text-size offset8 span2">
										<button class="btn btn-mini text-size-reset">text</button>
										<button class="btn btn-mini text-size-smaller">-</button>
										<button class="btn btn-mini text-size-bigger">+</button>
									</div>
									<div class="contrast span2">
										<Button id="contrast"  class="btn btn-mini">Contrast</Button> 
										<Button id="cycle-contrast" class="btn btn-mini btn-cycle"> </Button>
										<input id="contrast-link" type="hidden" value="{% Href "~/accessibility/web-site" %}"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
			<!-- HEADER: PRIMARY SITE NAVIGATION -->
			<div class="container">
				<!-- nav -->
				{% if Model.Navigation %}
					{{ Model.Navigation | Display }}                      
				{% endif %}
			</div>
		</header>
	
		<div class="main-content">
			<div class="container">
			
				<!-- before main -->
				
				{% if Model.BeforeMain %}
					<div id="layout-before-main" class="group">
						{{ Model.BeforeMain | Display }}
					</div>
				{% endif %}

				{% if Model.Messages %}
					{{ Model.Messages || Display }}  
				{% endif %}


				{% if Model.Featured %}
					<div class="row show-grid clear-both">
						<div class="span12 main-column one-column">
							{{ Model.Featured | Display }}
						</div>
					</div>
				{% endif %}
				   
				<div class="row show-grid clear-both">
					
					{% if Model.AsideFirst and Model.AsideSecond %}

						<div id="left-sidebar" class="span3 sidebar">
							{{ Model.AsideFirst | Display }}
						</div>
						<div class="span6 main-column three-columns-central">
							{{ Model.Content | Dispaly }}
						</div>
						<div id="right-sidebar" class="span3 sidebar">
							{{ Model.AsideSecond | Display }}
						</div>


					{% elsif Model.AsideSecond %}

						<div class="span9 main-column two-columns-right">
							{{ Model.Content | Display }}
						</div>
						<div id="right-sidebar" class="span3 sidebar">
							{{ Model.AsideSecond | Display }}
						</div>
					 
					{% elsif Model.AsideFirst %}

						<div id="left-sidebar" class="span3 sidebar">
							{{ Model.AsideFirst | Display }}
						</div>
						<div class="span9 main-column two-columns-left">
							{{ Model.Content | Display }}
						</div>

					{% else %}

						<div class="span12 main-column one-column">
							{{ Model.Content | Dispaly }}    
						</div>

					{% endif %}
										
					
				</div>
			
				<!-- after main --> 
				{% if Model.AfterMain %}
					<div id="layout-after-main" class="group">
						{{ Model.AfterMain | Display }}
					</div>
				{% endif %}

			</div>
		</div>
		<div id="push"></div>
	</div>

	<footer id="footer">
		<div class="footer-wrapper">
			<div class="container">
				<div class="row show-grid">
				   
					<!-- footer -->
					{% if Model.Footer %}
						<div class="span12">
							{{ Model.Footer | Display }}
						</div>
					{% endif %}					
					
				</div>
			</div>
		</div>
	</footer>



