@{
    Model.Classes.Add("navbar");
    var navbar = Tag(Model, "div");

    Model.Classes.Remove("navbar");
    
    // Model is Model.Menu from the layout (Layout.Menu)
    Model.Classes.Add("nav nav-pills");
    var tag = Tag(Model, "ul");

    var items = (IList<dynamic>)Enumerable.Cast<dynamic>(Model.Items);

    if (items.Any()) {
        items[0].Classes.Add("first");
        items[items.Count - 1].Classes.Add("last");
    }    
}
@navbar.StartElement
    <div class="navbar-inner">
        <div class="container">
            <div class="buttons-container">
            </div>
            <div class="nav-collapse">
                <nav>
                    @tag.StartElement
                    @* see MenuItem shape template *@
                    @DisplayChildren(Model)
                    @tag.EndElement
                </nav>
            </div>
        </div>
    </div>
@navbar.EndElement   