@using Orchard.MediaLibrary.Fields
@using Orchard.MediaPicker.Fields
@{
    var items =  Model.ContentItems;
    var i = 0;
}
<div id="tneants-list">
@foreach (var item in items) {
  
    var title = item.Tenant.TitlePart.Title;
    var body = item.BodyPart.Text;

    
    var imageField = (MediaLibraryPickerField)item.Tenant.Logo;
    var mediaParts = imageField.MediaParts;
    var image = mediaParts.FirstOrDefault();

    var phone = item.Tenant.Telephone.Value;
    var email = item.Tenant.Email.Value;
    var website = item.Tenant.Website.Value;
    var space = item.Tenant.SpaceAtVassallCentre.Value;

    var hash = item.Tenant.Hash.Value;
        
    <div id="@hash" class="tenant">
        <div class="row-fluid">
            <div class="span4">
                <div class="image-wrapper">
                    @if (image != null) {
                        <img src="@image.MediaUrl" alt="@image.AlternateText"/>
                    }
                </div>
            </div>
 
            <div class="span8">
                <h2>
                    @title
                </h2>    
    
                @Html.Raw(body)
                
                <div class="contact-info">
                    <p>Phone: <a href="tel:@phone">@phone</a></p>
                    <p>Email: <a href="mailto:@email">@email</a></p>
                    <p>Website: <a href="@website">@website</a></p>
                    <p>Location : @space</p>
                </div>
            </div> 
            
        </div>
    </div>
    
    
    if (i%2 == 0) {
        <div class="text-divider7 even">
            <span></span>
        </div>    
    }
    else {
        <div class="text-divider7">
            <span></span>
        </div>
    }

    i++;

}
</div>
