
<div class="row-fluid">
    <ul class="thumbnails">
		{% for item in  Model.ContentItems %}
			 <li class="span4">
				<div class="thumbnail">
					{% if item.Room.Image.FirstMediaUrl != null %}
						<img alt="{{ item.Room.Image.MediaParts[0].AlternateText }}" src="{{ item.Room.Image.MediaParts[0].MediaUrl }}" width="300" height="200" />
					{% else %}	
						<div class="image-place-holder">
						
						</div>
					{% endif %}
				
					<div class="caption">
						<h3>
							{{ item.TitlePart.Title }}
							<small>
								( {{ item.Room.Size.Value }} )
							</small>
						</h3>
						<div class="teaser">
							<p>
								{{ item.BodyPart.Text | truncate: 200 }}
							</p>
						</div>
						<a href="mailto:vassall@vcconferences.co.uk?subject={{ item.TitlePart.Title }}" class="btn btn-primary">Book Now</a> 
					</div>                  
				</div>
			</li>    
		{% endfor %}
    </ul>
</div>


