@using Orchard.MediaLibrary.Fields
@{
    var items = Model.ContentItems;
    var i = 7;
    
}

<div class="sidebar-news-widget sidebar-block">
    <h2>Upcoming events</h2>
    @foreach (var item in items) {
        var title = item.TitlePart.Title;
        var location = item.Event.Location.Value;
        var date = ((DateTime) item.Event.StartDate.DateTime).Date.ToString("dd MMM yyyy");
        var startTime = ((DateTime) item.Event.StartDate.DateTime).TimeOfDay.ToString("hh\\:mm");
        var endTime = ((DateTime)item.Event.EndDate.DateTime).TimeOfDay.ToString("hh\\:mm");

        //var imageField = (MediaLibraryPickerField)item.Event.Image;
        //var mediaParts = imageField.MediaParts;
        //var image = mediaParts.FirstOrDefault();

        var imageUrl = item.Event.ImageUrl.Value;
        
        var url = Url.Content(@"~/events");

        <ul>
            <li>
                <a class="photo" href="@url">
                    @if (imageUrl != null) {
                        <img alt="event logo" src="@Display.ResizeMediaUrl(Path:imageUrl, Width:60, Height:60)" />
                    }
                    else {
                        if (i%2 == 0) {
                            <img alt="event logo image" height="60" width="60" src="@Url.Content(@"~/themes/bizStrap.1.3/Content/img/event-default-small-1.jpg")" />        
                        }
                        else {
                            <img alt="event logo image" height="60" width="60" src="@Url.Content(@"~/themes/bizStrap.1.3/Content/img/event-default-small-2.jpg")" /> 
                        }
                    }
                    
                </a>
                <p>
                    <a href="@url">@title</a>
                </p>
                <p>
                    @location
                </p>
                <p class="date"><i class="icon-calendar"></i>@date <br/>@startTime - @endTime </p>
            </li>
        </ul>

        if (i == 9) {
            i = 7;
        }
        else {
            i++;
        }

    }
</div>

