@using Orchard.MediaLibrary.Fields
@{
    var items = 
    
    
}

<div class="sidebar-news-widget sidebar-block">
    <h2>Upcoming events</h2>
	{% assign i = 7 %}
    {% foreach item in Model.ContentItems %}
		{% assign imageUrl = item.Event.ImageUrl.Value %}
        <ul>
            <li>
                <a class="photo" href="{% Href "~/events" %}">
                    @if (imageUrl != null) {
                        <img alt="event logo" src="{{ Display.ResizeMediaUrl(Path:imageUrl, Width:60, Height:60) }}" />
                    }
                    else {
                        if (i%2 == 0) {
                            <img alt="event logo image" height="60" width="60" src="{% Href "~/themes/Dotnest-BizStrap.1.3/Content/img/event-default-small-1.jpg" %}" />        
                        }
                        else {
                            <img alt="event logo image" height="60" width="60" src="{% Href "~/themes/Dotnest-BizStrap.1.3/Content/img/event-default-small-2.jpg" %}" /> 
                        }
                    }
                    
                </a>
                <p>
                    <a href="{% Href "~/events" %}">{{ item.TitlePart.Title }}</a>
                </p>
                <p>
                    {{ item.Event.Location.Value }}
                </p>
                <p class="date"><i class="icon-calendar"></i>{{ item.Event.StartDate.DateTime | "dd MMM yyyy" }}<br/>{{ item.Event.StartDate.DateTime | ("hh\\:mm") }} - {{ item.Event.EndDate.DateTime | ("hh\\:mm") }}</p>
            </li>
        </ul>

        {% if i == 9 %}
			{% assign i = 7 %}
        {% else %}
            {% assign i = i | plus: 1 %}
        {% endif %}

    }
</div>

